body{
    background-color: hsl(0, 0%, 83%);
}
a{
    border-bottom:1px solid blue
}
.fa{
    color: blue
}
.box-center{
    background-color:white;
    padding:60px 10px;
    margin:30px
}
.text{
    margin:10px
}
.box{
    padding:60px 0px
}